:root{
    /* Colors */
    --bgBody:#ccc;
    --bgImg: rgba(255, 255, 255, .83);;
    --bgName:#eee;
    --d:#222;
    /* --fT:#23d49f; */
    --fT: transparent;
    /* Fuentes */
    --ff: 'Odibee Sans';
    --ff2: 'Ubuntu';
 }
 body{
    background: var(--bgBody);
 }
 .caja{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .caja::after{
     content: "";
     width: 100%;
     height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 10;
 }
.caja .textura{
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 15;
   top: 0;
   left: 0;  
   background: url('../img/black-orchid.png'); 
}
 .caja video{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    object-fit: cover;
 }
 .oC{
    position: relative;
    z-index: 20;
 }
 .iP{
    background: var(--bgImg);
    border-radius: 50%;
    width: 20rem;
 }
 .imgNombre{
    background: var(--bgName);
    font-family: var(--ff), cursive;
    font-size: 1.75em;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    bottom: 0;
 }
 .ani{
    transform: rotate(90deg);
    transform-origin: right;
    transition: 400ms;
    opacity: 0;
 }
 .oC:hover .ani{
    transform: rotate(0deg);
    opacity: 1;
 }
 /* section2 */
 .pre{
    width: 100%;
    border-radius: 20px;
    box-shadow: 1.5px 3px 20px #333;
 }
 .tarjePre{
    background: var(--fT);
    color: var(--d);
    padding: 5px 15px;
    border-radius: 10px;
    font-family: var(--ff2), sans-serif;
    width: 75%;
    max-width: 550px;
    letter-spacing: 0.5px;
 }
 .t{
    transition: 0.5s;
    opacity: 0;
 }
    /* animacion */

 .haciArriba{
    animation: mostrarArriba 1s;
 }
 @keyframes mostrarArriba {
    0%{transform: translateY(60px);}
    100%{transform: translateY(0);}
 }
 @media screen and (max-width:720px) {
    .iP{
       width: 14rem;
       background: rgba(255, 255, 255, .7);
    }
    .imgNombre{
       font-size: 1.3em;
    }
 }