.G{
    margin: 5px 0 15px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
 }
 .G .tarjeta.t{
     margin: 15px;
 }
 
.tarjeta{
    width: 20em;
    height: 28.75em;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 15px #333;
}
.tarjeta .contImg{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tarjeta .img{
    width: 200px;
    height: 200px;
}
.tarjeta .contImg .clip{
    padding: 15px;
    width: 85%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarjeta .contImg .clip > *{
    font-family: 'Ubuntu';
}

.tarjeta .contImg .clip > p{
    font-weight: 500;
    text-align: justify;
}
@media screen and (max-width: 720px) {
    .G{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 10px;
        overflow: visible;
    }
    .tarjeta{
        width: 85%;
        height: 96vh;
    }
    .tarjeta .contImg{
        justify-content: space-evenly;
    }

}